* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  width: 100vw;
  height: 100vh;
}
/* color var */
:root {
  --light-blue: #deebff;
  --dark-blue: #0065fc;
  --grey-color: #f2f2f2;
  --gey-star: #d9d9d9;
  --link: #606060;
}
/* barre de navigation */
header {
  display: flex;
  justify-content: space-between;
  background: #fff;
}
header img {
  margin-left: 50px;
  margin-top: 30px;
  max-height: 45px;
}
nav ul {
  display: flex;
  margin-right: 10px;
}
ul li,
a {
  text-decoration: none;
  list-style: none;
  background: white;
  padding: 15px;
  padding-top: 35px;
  font-family: century gothic;
  color: var(--link);
  font-size: 16px;
}
ul li:hover,
:focus {
  border-top: 3px solid var(--dark-blue);
  transition: ease 0.1s;
}
ul li a:hover,
:focus {
  color: var(--dark-blue);
  border: none;
  transition: ease 0.3s;
}
/* Section de barre de rechercher */
.__findHebergement {
  display: flex;
  flex-direction: column;
  font-family: century gothic;
}
.__findText {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 36px;
  line-height: 2em;
}
.__searchBar {
  height: auto;
  padding: 10px;
  margin-left: 40px;
  /* background-color: var(--link); */
}
#inputSearch {
  outline: none;
  border: 1px solid var(--grey-color);
  color: black;
  padding-left: 5px;
  font-weight: bold;
  font-family: century gothic;
  font-size: medium;
}
.__searchBar .containSearchBar {
  display: flex;
}
.roundBorderIcon {
  background: var(--grey-color);
  padding: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.roundBorderButton {
  border: none;
  outline: none;
  color: white;
  font-family: century gothic;
  font-weight: bolder;
  padding-left: 10px;
  padding-right: 10px;
  background: var(--dark-blue);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}
/* section de filtre */
.__filter {
  display: flex;
  margin-left: 50px;
  margin-top: 2rem;
}
.__filter p {
  padding-right: 50px;
  position: relative;
  transform: translateY(10px);
}
.__filter .listOfCAtegorie {
  display: flex;
  margin-left: 5px;
}

.filter {
  display: inline;
  flex-direction: row;
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
}
.filter i {
  /* width: 15px;
  height: 15px; */
  padding: 13px;
  margin-left: -15px;
  background: var(--light-blue);
  color: var(--dark-blue);
  border-radius: 50%;
  text-align: center;
}
.filter span {
  padding-right: 20px;
}
.filter1 {
  border: 1px solid var(--gey-star);
  border-radius: 50px;
}
.filter2 {
  border: 1px solid var(--gey-star);
  border-radius: 50px;
}
.filter3 {
  border: 1px solid var(--gey-star);
  border-radius: 50px;
}
.filter4 {
  border: 1px solid var(--gey-star);
  border-radius: 50px;
}
.__infoText {
  margin-left: 50px;
  margin-top: 1.5rem;
  font-size: 14px;
}
.__infoText span {
  font-style: italic;
}
.__infoText .infoIcon {
  width: 20px;
  height: 20px;
  padding: 2px;
  color: var(--dark-blue);
  border: 1px solid var(--gey-star);
  border-radius: 50%;
}
/* View popular section */
.__Popular{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}
.viewHebergementMarseille{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, auto);
  row-gap: 10px;
  background: var(--grey-color);
}
/* reponsive */
@media screen and (max-width: 915px) {
  .__filter {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
  }
  .__filter p {
    margin-bottom: 25px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 825px) {
  .filter {
    margin-bottom: 10px;
    margin-left: -10px;
  }
  .allFilter {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 763px) {
  * {
    border: none;
  }
  header {
    margin: none;
    padding: none;
    display: flex;
    flex-direction: column;
  }
  header img {
    position: relative;
    margin-left: 40%;
    margin-top: none;
    margin-bottom: 20px;
    max-width: 100px;
    padding: none;
  }
  nav ul {
    width: 100vw;
    display: flex;
    margin: none;
    justify-content: center;
    justify-items: stretch;
  }
  nav ul li {
    width: 100%;
    margin: none;
    text-align: center;
    border-bottom: 3px solid var(--grey-color);
  }
  nav ul li:hover,
  :focus {
    border: none;
    color: var(--dark-blue);
    border-bottom: 3px solid var(--dark-blue);
    transition: ease 0.3s;
  }
  nav ul li a {
    border: none;
  }
  nav a:hover,:focus{
    color: var(--dark-blue);
    border: none;
  }

  /* findText responsive */
  .__findText {
    margin-left: 20px;
    font-size: smaller;
  }

  /* barre de rechercher */
  .__searchBar {
    display: flex;
    width: max-content;
    margin-left: 10px;
    justify-content: center;
  }
  .roundBorderButton {
    border-radius: 15px;
    margin-left: -20px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
  }
  .roundBorderIcon {
   padding: 12px;
  }

  .__filter {
    margin-left: 20px;
  }
  .__infoText {
    margin-left: 20px;
  }
}
